<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            Websites
        </a>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}/website/new" class="navbar-link">
              <span class="glyphicon glyphicon-plus">
              </span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{website.uid}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{website.uid}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
        </p>
    </div>
</nav>