<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left" style="margin-left: 0px">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right" style="margin-right: 0px;">
            <button form="widgetForm"
                    type="submit"
                    ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Edit Widget
            </a>
        </div>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div ng-include="'views/widget/widget-'+model.widget.type+'.view.client.html'"></div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>