<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text"
                   class="form-control"
                   id="name"
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text"
                   id="text"
                   class="form-control"
                   placeholder="Text"></textarea>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="text"
                   id="url"
                   class="form-control"
                   placeholder="URL"></textarea>
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text"
                   id="width"
                   class="form-control"
                   placeholder="100%"></textarea>
        </div>
    </form>

    <form action="/api/uploads"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="uid" value="{{model.uid}}"   style="display: none"/>
        <input  name="wid" value="{{model.wid}}"   style="display: none"/>
        <input  name="pid" value="{{model.pid}}"   style="display: none"/>
        <input  name="wgid" value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

</div>
